/* .nav-bar-container, .logged-in-home-page-container { */
.nav {
    display: flex;
    justify-content: space-between;
    /* box-sizing: border-box; */
    /* margin: 5px 20px; */
    position: absolute;
    top: 0;
    width: 100%;
    font-family: 'Changa', sans-serif; 
    /* background-color: transparent; */
    background-color: rgba(227, 229, 249, 0);
    z-index: 1;
}

.right-nav, .left-nav{
    display: flex;
    align-items: center;
}

/* .signup-link, .login-link, .profile, .log-out, .view-trails, .new-trail { */
.nav-link{
    text-decoration: none;
    margin: 20px;
    border-bottom: 0.2rem solid white;
}

/* .signup-link:hover, .login-link:hover, .profile:hover, .log-out:hover, .view-trails:hover, .new-trail:hover { */
.nav-link:hover {
    border-bottom: 3px solid #5d6578;
    transition: all .35s ease-in-out;
}

.nav-logo {
    height: 10vh;
}

.fab {
    font-size: 1.75rem;
    padding: 20px;
}