.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif;
}

.right-side-nav-bar {
    display: flex;
    /* border: 1px solid red; */
}

.signup, .login {
    display: flex;
    /* border: 1px solid purple; */
    padding: .6rem;
}

.signup-link, .login-link, .all-trails, .profile, .log-out {
    text-decoration: none;
}

.nav-logo {
    height: 70px;
}


.logged-in-home-page-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif;
}

.right-side-nav-logged-in-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.all-trails, .profile {
    padding: .6rem;
}

.log-out {
    padding: .3rem;
    /* padding-right: .6rem; */
    border-radius: 5px; 
    align-items: center;
    font-size: .8rem;
}
.loggedInHeader {
    display: flex;
    justify-content: space-around;
    background-color: white;
    font-family: 'Sen', sans-serif;
    color: black;
    padding: 15px;
}
