.nav-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}
.right-side-nav-bar {
    display: flex;
}
.signup, .login {
    display: flex;
    padding: .6rem;
}

.signup-link, .login-link, .all-trails, .profile, .log-out, .create-trail {
    text-decoration: none;
}
.nav-logo {
    height: 70px;
}