.new-trail-container {
    display: flex;
    justify-content: center;
    background-image: url('../../src/app/assets/tucky6.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 600px;
}

.new-trail-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.486);
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    height: 60%;
    justify-content: flex-start;
}

.trail-title-text, .trail-difficulity-text, .trail-description-text {
    margin-top: 1.5rem;
    height: 1.5rem;
    width: 12.625rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.create-trail {
    font-size: 2rem;
    color: #fff;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.trail-submit-button {
    height: 2rem;
    width: 100%;
    margin-bottom: 0.625rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #0070c9;
    color: #fff;
    font-size: .8rem;
}

.pet-friendly, .paved-trail {
    color: white;
}

.input-file {
    margin-bottom: 1rem;
}

