.new-trail-container {
    display: flex;
    justify-content: center;
    background-image: url('../../src/app/assets/dark_forest_fog_display.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

.new-trail-form-whole-wrapper {
    display: flex;
    flex-direction: row;

}

.create-trail-form-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.486);
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    height: 60%;
    justify-content: flex-start;
    background: white;
}

.trail-title-text, .trail-difficulity-text, .trail-description-text {
    margin-top: 1.5rem;
    height: 1.5rem;
    width: 12.625rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Sen', sans-serif;
    font-size: 1rem;
}

.create-trail-form {
    font-size: 2rem;
    color: black;
    font-family: 'Sen', sans-serif;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.trail-submit-button {
    height: 2rem;
    width: 100%;
    margin-bottom: 0.625rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #0070c9;
    color: #fff;
    font-size: 1rem;
    font-family: 'Sen', sans-serif;
}

.pet-friendly, .paved-trail {
    color: black;
    font-family: 'Sen', sans-serif;
}

.input-file {
    margin-bottom: 1rem;
}

.new-trail-map-container {
    height: 400px;
    width: 400px;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.486);
    margin-top: 10px;
    border-radius: 5px;
}

.new-trail-map {
    width: 100%;
    height: auto;
}

.create-map {
    width: 400px;
    height:100%;
}