.user-trails {
    display: flex;
    background: url('../app/assets/fog.jpg');
    height: 85vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 3rem;
}

.user-trails h1 {
    color: rgb(153, 165, 221);
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 8vw;
    background-color: rgba(111, 151, 153, 0.404);
}


.user-trails-list {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    font-family: 'Sen', sans-serif;
    background-color: none;
    /* border: 0.2rem solid rgb(12, 22, 65); */
}

.user-trails-internal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.user-trail-image {
    border-radius: 10rem;
}

.user-trail-words {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: none;
}

.user-trail-title {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: rgb(228, 231, 245);
}

.user-trail-description {
    color: rgba(213, 234, 238, 0.664);
}

.delete-trail-button {
    /* background: yellow; */
    border: 0.1rem solid rgb(10, 10, 20);
    height: 2rem;
    border-radius: 0.3rem;
    color: rgb(16, 16, 43);
    background-color: rgb(224, 236, 238);
    background-image: linear-gradient(45deg, rgba(163, 31, 7, 0.527) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    font-family: 'Sen', sans-serif;
    transition: 700ms ease-in-out;

}

.delete-trail-button:hover {
    background-position: 0;
  }
