.user-trails {
    display: flex;
    background: url('../app/assets/fog.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 3rem;
}

.user-trails h1 {
    color: rgb(153, 165, 221);
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 8vw;

}


.user-trails-list {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    font-family: 'Sen', sans-serif;
    background-color: none;
    /* border: 0.2rem solid rgb(12, 22, 65); */
    position: absolute;
    top: 9%;
    width: 20%;
}

.user-trails-internal {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
}

.user-trail-image {
    border-radius: 3rem;
    padding-bottom: 1rem;
}

.user-trail-words {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: none;
}

.user-trail-title {
    text-transform: uppercase;
    font-size: 1.8vw;
    color: rgb(12, 22, 65);
    padding-bottom: 1rem;
}



.delete-trail-button {
    border: 0.2rem solid rgb(30, 30, 36);
    border-radius: 0.3rem;
    color: rgb(11, 10, 68);
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-position: 100%;
    background-size: 400%;
    font-family: 'Sen', sans-serif;
    transition: 700ms ease-in-out;
    width: 10rem;
    border-radius: 10px;
    font-size: 1rem;
    height: 3rem;
    font-family: 'Pacifico', cursive;
    cursor: pointer;
}

.delete-trail-button:hover {
    /* background-position: 0; */
    color: rgba(69, 71, 102, 0.434);
    border: 2px solid rgba(69, 71, 102, 0.434);
  }

.profile-desc-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-trail-description {
    padding-bottom: 1rem;
    color: rgb(12, 22, 65);
}