.signup-form-container {
    display: flex;
    justify-content: center;
    background-image: url('../app/assets/fortff.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    /* height: 800px; */
    width: 100%;
    height: 600px;
    font-family: 'Sen', sans-serif;
}

.sign-up-form-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0px 0px 0px 8px rgba(255, 255, 255, 0.486);
    margin-top: 10px;
    padding: 20px;
    border-radius: 5px;
    height: 70%;
    background: white;
    
}

.sign-up-text {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: black;

}

.sign-up-email-input,
.sign-up-password-input,
.confirm-password-input {
    height: 2rem;
    width: 15.625rem;
    margin-bottom: 1.5rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Sen', sans-serif;
    font-size: 1rem;
}

.sign-up-submit-button {
    height: 2rem;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #0070c9;
    color: #fff;
    font-size: 1rem;
    font-family: 'Sen', sans-serif;
}
