.signup-form-container {
    display: flex;
    justify-content: center;
    font-family: Circular,
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    Helvetica Neue,
    sans-serif;
    /* background-image: url('../app/assets/butter.png'); */
    /* background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    height: 600px; */
}

.sign-up-text {
    display: flex;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 1.5rem;
}

.sign-up-email-input, .sign-up-password-input, .confirm-password-input {
    height: 2rem;
    width: 15.625rem;
    margin-bottom: 0.625rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.sign-up-submit-button {
    height: 2rem;
    width: 100%;
    margin-bottom: 0.625rem;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #0070c9;
    color: #fff;
    font-size: .8rem;
}
