.trail-show-container {
    display: flex;
    justify-content: center;
    /* background-color: rgb(228, 228, 247); */
    padding: 3rem 0 3rem 0;
    /* background-image: linear-gradient(white, red); */
    background: url('../app/assets/fog.jpg');
    /* height: 100vh; */
    background-size: cover;
    background-repeat: no-repeat;
    
    /* change */
    position: relative;
    height: 113vh;
    width: 100%;
}

.trail-show {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 60%;

    /* changes */
    position: absolute;
    top: 9%;
}

.trail-title {
    font-size: 60px;
    margin-bottom: 1rem;
    padding-right: 1rem;
    /* font-family: 'Dokdo', cursive; */
    /* font-family: 'Pacifico', cursive; */
    font-family: 'Sen', sans-serif;
    letter-spacing: 10px;
    color: rgb(166, 177, 205);
}

.trail-show-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.show-page-map {
   margin-top: 1rem;
}

.trail-show-pic {
    width: 100%;
    height: 400px;
}

.map-weather-container {
    display: flex;
    flex-direction: column;
    /* align-items: flex-end; */
    text-align: center;
    padding-left: 2rem
}

.main-body-container {
    display: flex;
    justify-content: space-between;
}

.show-map {
    height: 100%;
    width: 380px;
}

.show-page-map {
    height: 400px;
    width: 400px;
}

.trail-description {
    display: flex;
    flex-direction: column;
}

.trail-info-head {
    font-size: 25px;
    color: rgb(166, 177, 205);
}
.trail-show-description, .trail-show-difficulity {
    width: 100%;
    height: auto;
    font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
}

.trail-show-description p, .trail-show-difficulity p {
    font-size: 15px;
    text-transform: capitalize;
    color: #fafafa;
}

.trail-description, .weather-info, .reviews-container{
    font-family: 'Sen', sans-serif;
}

.weather-info {

    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 150px;
    font-size: 15px;
    color: #fafafa;
}

.weather-title {
    font-size: 1.7rem;
    margin-bottom: 1rem;
}
.trail-show-top {
    display: flex;
}

.reviews-container {
    color: #fafafa
}

