.trail-show-container {
    display: flex;
    justify-content: center;
    /* border: 1px solid black; */
}

.trail-show-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /* align-items: flex-start; */
    width: 80%;

}

.trail-show-title {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.trail-descrption, .trail-rating {
    margin-bottom: 1.25rem;
}

