.trails-index-container {
    display: flex;
    flex-direction: column;
}

.trails-list {
    display: flex;
}

.trails-header-text {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.trails-list {
    display: flex;
    margin-bottom: 2rem;
}
.trals-header-text {
    font-size: 2rem;
}

